body{
  background-color: #2c9db7 !important;
}

.App {
  text-align: center;
  height: 100vh;
  header{
    .vidmob-logo {
      top: 30px;
      left: 30px;
    }
    .login-in-wrapper{
      top: 30px;
      right: 30px;
      label {
        width: 154px;
        height: 17px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        text-align: right;
      }
      .login-btn{
        width: 100px;
        height: 34px;
        font-size: 11px;
        border-radius: 100px;
        border: solid 1px #e2e6eb;
      }
    }
  }
  .form-control {
    max-width: 400px;
    height: auto;
    overflow: auto;
    border-radius: 2px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 30px;
  }
  .button{
    width: 150px;
    height: 50px;
    border-radius: 100px;
    font-size: 13px;
    border: solid 1px #e2e6eb;
    background-color: #2c9db7;
    outline: none;
  }
  
  .landing-page{
    max-width: 400px;
    margin-bottom: 2px;
    .popup-content {
      width: unset !important;
      .close-btn {
        top: -60px;
        right: 0;
        outline: none;
        cursor: pointer;
      }
    }
    .form-control {
      .get-started {
        height: 24px;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: #283647;
      }
      .next-btn, .back-btn, .continue-btn {
        @extend .button
      }
      .back-btn, .continue-btn{
        font-size: 11px;
        width: 100px
      }

      .back-btn{
        background-color: #798898;
      }
      .exist-confirmation-email{
        max-width: 320px;
      }
      .personal-email{
        width: 390px;
        font-size: 16px;
        label {
          font-size: 14px;
        }
      }
    }
    .card-icon-wrapper{
      height: 100px;
      width: 100px;
      background-color: #2c9db7;
      border-radius: 50%;
    }
    
  }
  .sign-up{
    .form-control{
      .input-label {
        font-size: 14px;
        text-align: left;
        color: #798898;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: -0.2px;
      }
      .sign-up-btn {
        @extend .button
      }
      .join-team {
        color: #283647
      }

      .display-name {
        position: relative;
        &:hover  .label-optional{
          display: none;
      }
    }

      .display-name > label{
        position: absolute;
        color: #a1afbd;
        top: 39%;
        right: 13px;
      }
    }
    .terms-condition{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: #e2e6eb;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  }
  .company-sign-up {
    .form-control{
      height: auto;
      p {
        color: #798898;
        font-size: 14px;
      }
      svg {
        color: #e99e16;
      }
      .done-btn {
        @extend .button
      }
      .remove-email {
        height: 13px;
        width: 13px;
        // border: 1px solid #283647
      }
      .multi-email-wrapper{
        &:hover{
          .remove-email{
            filter: invert(0.5) sepia(87) saturate(61) hue-rotate(0deg);
          }
        }
      }
    }
  }
  
}
.tooltip.show {
  opacity: 1 !important;
  font-size: 12px;
  .tooltip-inner {
    background-color: #dc3545 !important;
    
  }
  .arrow::before{
    border-top-color: #dc3545 !important;
  }
}